@model ECommerce.Models.Company

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir</h2>

<h3>Tem certeza que você que excluir esta companhia?</h3>
<div>
    <h4>Companhia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cities.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departments.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departments.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a Lista", "Index")
        </div>
    }
</div>
